.App {
  align-items: center;
}

.main {
  background-color: rgb(4, 123, 250);
  margin: auto;
  margin-top: 10%;
  width: 200px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
}

.header {
  color: rgb(255, 255, 255);
}

.contacts {
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
}